<p id="notice"><%= notice %></p>

<h1>Address Book</h1>
<h2>Occupations</h2>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Salary</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @occupations.each do |occupation| %>
      <tr>
        <td class="addressRow"><%= occupation.title %></td>
        <td class="addressRow">$<%= occupation.salary %></td>
        <td class="btnSide"><%= link_to 'Show', occupation %></td>
        <td class="btnSide"><%= link_to 'Edit', edit_occupation_path(occupation) %></td>
        <td class="btnSide"><%= link_to 'Destroy', occupation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Occupation', new_occupation_path %>
